.container{
    width: 80% !important;
}
.navbar{
    background-color: #9de76e;
    height: 50px;
}
nav a{
    font-family: 'Harlow Solid Italic', sans-serif;
    font-style: normal;
    text-decoration: none;
    color: black;
    font-size: xx-large
}
.card h2{
    text-justify: newspaper;
}
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: x-large;
    background-color: #9de76e;
    font-variant: small-caps;
  }
footer{
    background-color: black;
}
